MSSQL_SA_PASSWORD=Pedidos@2026Dev
MSSQL_HOST_PORT=1433
MINIO_ROOT_USER=pedidosadmin
MINIO_ROOT_PASSWORD=Pedidos@2026Minio
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
ConnectionStrings__PedidosDb=Server=sqlserver,1433;Database=StefaniniPedidos;User Id=sa;Password=Pedidos@2026Dev;TrustServerCertificate=True
