<p-select
  [ngModel]="value"
  (ngModelChange)="updateValue($event)"
  [options]="options"
  [optionLabel]="optionLabel"
  [optionValue]="optionValue"
  [placeholder]="placeholder"
  [appendTo]="appendTo"
  [invalid]="invalid"
  [disabled]="disabled"
  [class]="selectClass"
  [filter]="filter"
  [filterBy]="filterBy"
  [filterPlaceholder]="filterPlaceholder"
  [emptyFilterMessage]="emptyFilterMessage"
  [resetFilterOnHide]="resetFilterOnHide"
  [attr.aria-label]="ariaLabel"
  (onBlur)="markAsTouched()"
/>
